<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:component-scan base-package="project.IdolCompetition">

    </context:component-scan>

</beans>

        <!--


            <bean id="sonnet29" class="IdolCompetition.Sonnet29"/>

            <bean id="duke"
                  class="IdolCompetition.PoeticJuggler"
                  autowire="constructor"/>

            <bean id="theStage"
                  class="IdolCompetition.Stage"
                  factory-method="getInstance"/>

            <bean id="piano"
                  class="IdolCompetition.Piano"
                  />

            <bean id="guitar"
                  class="IdolCompetition.Guitar"
                  />
        <bean id="saxophone"
              class="IdolCompetition.Saxophone"
              autowire-candidate="false"/>

        <bean id="baseSaxo"
              class="IdolCompetition.Instrumentalist"
              p:song="Jingle Bells"
        />



        <bean id="kenny" parent="baseSaxo"/>

        <bean id="david" parent="baseSaxo"/>

        <bean id="hank"
              class="IdolCompetition.OneManBand">

        <property name="instruments">
            <map>
                <entry key="PIANO" value-ref="piano"/>
                <entry key="SAXO" value-ref="saxophone"/>
                <entry key="GUITAR" value-ref="guitar"/>
            </map>
        </property>
        </bean>

        <bean id="instrument"
              class="IdolCompetition.Saxophone"/>


        <bean id="kenny2"
              class="IdolCompetition.Instrumentalist">
        <property name="song" value="Bells"/>
        </bean>

        <bean id="kenny3"
              class="IdolCompetition.Instrumentalist">
        </bean>

        <util:list id="cities">
        <bean class="IdolCompetition.City"
              p:name="Chicago"
              p:population="152000"/>
        <bean class="IdolCompetition.City"
              p:name="Minsk"
              p:population="1900000"/>
        </util:list>
        -->
