/* You can add global styles to this file, and also import other style files */

html,body,.container {
    height:100%;
    background: #f8fbfe;
}
.login-panel {
    background:white;
}
.cursor-pointer {
    cursor: pointer;
}