<div class="col-12 p-4 row">
    <h3 class="col-12 text-dark">Add New Survey</h3>
    <div class="col-12 col-md-6">
        <form [formGroup]="qstnForm" (ngSubmit)="onSubmit()">
            <div *ngIf="error" class="col-12 form-group text-center">
                <label class="text-danger">{{error}}</label>
            </div>
            <div class="col-12 form-group">
                <label>Title<i class="text-danger">*</i></label>
                <input type="text" class="form-control" formControlName="title" required/>
            </div>
            <div class="col-12 form-group">
                <label>Start Date<i class="text-danger">*</i></label>
                <input type="date" class="form-control" formControlName="startDate" required/>
            </div>
            <div class="col-12 form-group">
                <label>End Date<i class="text-danger">*</i></label>
                <input type="date" class="form-control" formControlName="endDate" required/>
            </div>
            <div *ngFor="let qstns of t.controls; let i=index">
                <div [formGroup]="qstns">
                    <h4>Question {{i+1}} <i class="fa fa-times ml-2 cursor-pointer text-danger" (click)="removeQstn(i)"></i></h4>
                    <div class="col-12 form-group">
                        <label>Question<i class="text-danger">*</i></label>
                        <input type="text" class="form-control" formControlName="qstn" required/>
                    </div>
                    <div class="col-12 form-group">
                        <label>Answer Type<i class="text-danger">*</i></label>
                        <select class="form-control" formControlName="answerType" required>
                            <option value="Single Line">Single Line</option>
                            <option value="Multi Line">Multi Line</option>
                            <option value="Radio Button">Radio Button</option>
                            <option value="Check Box">Check Box</option>
                        </select>
                    </div>
                    <div *ngIf="qstns.controls.answerType?.value=='Single Line'" class="col-12 form-group">
                        <label>Field Type<i class="text-danger">*</i></label>
                        <select type="text" class="form-control" formControlName="fieldType">
                            <option value="text">Text</option>
                            <option value="number">Number</option>
                            <option value="email">Email</option>
                            <option value="date">Date</option>
                        </select>
                    </div>
                    <div *ngIf="qstns.controls.answerType.value=='Radio Button' || qstns.controls.answerType.value=='Check Box'">
                        <div class="col-12 form-group">
                            <label>Choice-1<i class="text-danger">*</i></label>
                            <input type="text" class="form-control" formControlName="choice1"/>
                        </div>
                        <div class="col-12 form-group">
                            <label>Choice-2<i class="text-danger">*</i></label>
                            <input type="text" class="form-control" formControlName="choice2"/>
                        </div>
                        <div class="col-12 form-group">
                            <label>Choice-3</label>
                            <input type="text" class="form-control" formControlName="choice3"/>
                        </div>
                        <div class="col-12 form-group">
                            <label>Choice-4</label>
                            <input type="text" class="form-control" formControlName="choice4"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group">
                <button type="button" *ngIf="numberOfQstns<5" (click)="addNew()" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus mr-2"></i>Add Question
                </button>
            </div>
            <div class="col-12 form-group text-center">
                <button type="submit" [disabled]="!qstnForm.valid" class="btn btn-primary mr-2">Submit</button>
                <button type="button" class="btn btn-secondary" routerLink="/admin">Cancel</button>
            </div>
        </form>
    </div>
</div>
