.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: block;
}

.menu-nav {
  display: block;
  height: 100%;
  background: transparent;
  text-align: right;
  list-style-type: none;
}

.menu-nav_item {
  display: inline;
  padding-right: 1.5rem;
  transition: all 0.5s ease-in-out;
}

body {
  font-family: "Segoe UI", Tahoma;
  background-color: rgb(52, 235, 229);
}

.menu-nav_item.active > a {
  color: #ff652f;
}

.nav_link {
  text-decoration: none;
}