<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--<import resource="SpringBeans_Food.xml"/>-->

    <bean id="computer" class="ioc.staticfactory.Computer" depends-on="processor" >
        <property name="name" value="Dell Computer"/>
    </bean>

    <bean id="processor" class="ioc.staticfactory.Computer$Processor"   >
        <property name="name" value="Intel i7 processor"/>
        <property name="modelNo" value="1435986"/>
    </bean>

    <bean id="clientService"
          class="ioc.staticfactory.ClientService"
          factory-method="createInstance"/>

</beans>