<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-lazy-init="false">
    <!--Depends-on-->

    <!--
    In spring application XML, if we need to initialize any bean before any other bean, depends-on do this job.
    While creating bean we need to define depends-on attribute in bean.
    In the below example I have tried to show the working of depends-on. I have taken three bean A,B and C.
    I have implemented as

    B depends on C
    A depends on B.
    First A will be initialized, and then B and then C.
    -->
    <bean id="testC" class="ioc.dependson.C"/>
    <bean id="testA" class="ioc.dependson.A" depends-on="testB" />
    <!--<bean id="testA" class="A"  autowire="constructor"/>-->
    <bean id="testB" class="ioc.dependson.B" depends-on="testC"/>

    <bean id="b" class="ioc.dependson.B"/>

    <!--[SpringBeans_Depends-on.xml]: Circular depends-on relationship between 'testA' and 'testA'-->
    <!--<bean id="testA" class="A" depends-on="testA"/>-->
    <!--<bean id="testB" class="B" depends-on="testB"/>-->


</beans>