<div class="modal-body">
  <div class="col-12">
    <h3>{{ "msg.idleTitle" | translate }}</h3>
    <small
      >{{ "msg.idleBody" | translate }} {{ timer | number : "1.0-0" }}
      {{ "seconds" | translate }}</small
    >

    <div class="col-12 text-center my-3">
      <button type="submit" class="btn btn-primary" (click)="onCancel()">
        {{ "button.continue" | translate }}
      </button>
      <button type="button" class="btn btn-second ml-2" (click)="onLogout()">
        {{ "button.logout" | translate }}
      </button>
    </div>
  </div>
</div>
