<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<Header *ngIf="isLoggedIn"></Header>

<div *ngIf="!isLoggedIn">
  <app-login-page (loginFlag)="login($event)"></app-login-page>
</div>

<div *ngIf="isLoggedIn" class="frame">
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" role="navigation">
      <div *ngFor="let route of routes" class="li">
        <a [routerLink]="route.route">{{ route.name | translate }}</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ngx-spinner
  type="ball-clip-rotate-multiple"
  size="medium"
  *ngIf="isValidBrowser"
></ngx-spinner>
