<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="upperBorder">
    <button matTooltip="logout" matTooltipPosition="left" mat-icon-button *ngIf="isLoggedIn">
        <mat-icon (click) = "logout()" type>perm_identity</mat-icon>
    </button>
    
</div>

<div *ngIf="!isLoggedIn">
    <app-login-page (loginFlag)="check($event)"></app-login-page>
</div>

<div *ngIf="isLoggedIn" class="frame">
    <mat-sidenav-container>
        <mat-sidenav opened mode="side" role="navigation">
                <div *ngFor = "let item of list" class = "li">
                    <a [routerLink]="item">{{item}}</a>
                </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
