<div class="col-12 p-4 row">
    <h3 class="col-12 col-sm-12 col-md-6 text-dark">Attend List</h3>
    <div class="col-12">
        <label class="col-6 col-md-2">Survey Name:</label>
        <label>{{campaign.title}}</label>
    </div>
    <div class="col-12">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Email ID</th>
                <th scope="col">Attended Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attempt of campaign.attemptList;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{attempt.emailId}}</td>
                    <td>{{attempt.attendDate}}</td>
                    <td>
                        <i class="fa fa-list-alt mr-2 cursor-pointer" title="View Answers" (click)="updateQuestion(i)" data-toggle="modal" data-target="#exampleModal"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12" *ngIf="campaign.attemptList?.length==0">
        <label class="text-danger">No Attends Found!</label>
    </div>
</div>  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Answers</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let item of qa;let i=index;">
              <label class="font-weigt-bold col-12">{{i+1}}.&nbsp;{{item.question}}</label>
              <label class="col-12">{{item.answer}}</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>