<div class="login">
  <mat-card>
    <mat-card-title class="text-center">Login</mat-card-title>
    <div class="alert alert-danger" role="alert" *ngIf="isError">
      <p>{{ errorMsg | translate }}</p>
    </div>
    <div class="login-form">
      <form [formGroup]="loginForm">
        <div class="mb-3 w-75">
          <label class="form-label">{{ "login.username" | translate }}*</label>

          <input
            type="text"
            placeholder="{{ 'enter' | translate }}{{
              'login.username' | translate
            }}"
            class="form-control"
            formControlName="userName"
            allowChar="AN"
          />
          <div
            class="error-msg"
            *ngIf="isSubmitted && loginForm.controls.userName.errors?.required"
          >
            {{ "login.username" | translate }} {{ "msg.reqd" | translate }}
          </div>
        </div>
        <div class="mb-3 w-75">
          <label class="form-label">{{ "login.keyword" | translate }}*</label>

          <input
            type="password"
            placeholder="{{ 'enter' | translate }}{{
              'login.keyword' | translate
            }}"
            class="form-control"
            formControlName="keyword"
            (paste)="(false)"
          />
          <div
            class="error-msg"
            *ngIf="isSubmitted && loginForm.controls.keyword.errors?.required"
          >
            {{ "login.keyword" | translate }} {{ "msg.reqd" | translate }}
          </div>
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="onClickSubmit()"
          >
            {{ "button.submit" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-default ml-2"
            (click)="onClickReset()"
          >
            {{ "button.reset" | translate }}
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
