<div class="my-3 col-12">
  <h2 class="text-primary">
    <a href="javascript:;" uiSref="courses" (click)="onClickBack()"
      ><span class="fa fa-arrow-left text-secondary"></span
    ></a>
    <div>
      <span *ngIf="isAdd">{{ "add" | translate }}</span>
      <span *ngIf="!isAdd">{{ "edit" | translate }}</span>
      <span>&nbsp;{{ "menu.course" | translate }}</span>
    </div>
  </h2>
</div>
<div class="alert alert-danger" role="alert" *ngIf="isError">
  <p>{{ errMsg }}</p>
</div>
<div class="alert alert-info" role="alert" *ngIf="isInfo">
  <p>{{ "msg.noChangesToSave" | translate }}</p>
</div>
<div class="col-12">
  <form [formGroup]="courseInputForm">
    <div class="mb-3 w-25">
      <label class="form-label">{{ "course.name" | translate }}*</label>

      <input
        type="text"
        placeholder="{{ 'enter' | translate }}{{ 'name' | translate }}"
        class="form-control"
        formControlName="name"
      />
    </div>
    <div class="mb-3 w-25">
      <label class="form-label">{{ "course.type" | translate }}*</label>

      <!-- <input
        type="text"
        placeholder="{{ 'enter' | translate }}{{ 'course.type' | translate }}"
        class="form-control"
        formControlName="type"
      /> -->
      <select
        class="form-control m-1 m-md-2 col-3 col-lg-2"
        formControlName="type"
      >
        <option value="">
          {{ "select" | translate }} {{ "course.type" | translate }}
        </option>
        <option *ngFor="let option of courseTypeList" [value]="option?.id">
          {{ option?.value }}
        </option>
      </select>
    </div>
    <div class="mb-3 w-25">
      <label class="form-label">{{ "course.author" | translate }}*</label>
      <input
        type="text"
        placeholder="{{ 'enter' | translate }}{{ 'course.author' | translate }}"
        class="form-control"
        formControlName="author"
      />
    </div>
    <div class="form-group row">
      <div class="mx-auto">
        <button
          type="submit"
          class="m-2 btn btn-primary"
          (click)="onClickSubmit()"
        >
          {{ "button.submit" | translate }}
        </button>
        <button
          type="button"
          class="m-2 btn btn-second"
          (click)="onClickClear()"
          *ngIf="isAdd"
        >
          {{ "button.clear" | translate }}
        </button>
        <button
          type="button"
          class="m-2 btn btn-second"
          (click)="onClickReset()"
          *ngIf="!isAdd"
        >
          {{ "button.reset" | translate }}
        </button>
        <button
          type="button"
          class="m-2 btn btn-second"
          (click)="onClickBack()"
        >
          {{ "button.back" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
