<div>
  <h4>Courses</h4>
</div>
<div class="my-2 col-12">
  <a href="javascript:;" title="Add New" (click)="onClickAdd()">
    <h5 class="text-secondary"><span class="fa fa-plus mr-2"></span>Add New</h5>
  </a>
</div>
<div class="my-2 col-12" *ngIf="isLoadingComplete">
  <table class="demo-table">
    <thead>
      <th>{{ "course.name" | translate }}</th>
      <th>{{ "course.type" | translate }}</th>
      <th>{{ "course.author" | translate }}</th>
      <th>{{ "actions" | translate }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.name }}</td>
        <td>{{ course.type }}</td>
        <td>{{ course.author }}</td>
        <td>
          <a href="javascript:;" title="Edit" (click)="onClickEdit(course)"
            ><span class="fa fa-edit mr-2"></span
          ></a>
          <a
            href="javascript:;"
            title="Delete"
            style="padding-left: 15px"
            (click)="onClickDelete(course)"
            ><span class="fa fa-trash"></span
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="mt-3 text-center text-danger" *ngIf="courses.length == 0">
    {{ "noRecords" | translate }}
  </p>
</div>
