<div [hidden]="!isLoadingComplete">
  <div>
    <h4>Courses</h4>
  </div>
  <div class="my-2 col-12">
    <a href="javascript:;" title="Add New" (click)="onClickAdd()">
      <h5 class="text-secondary">
        <span class="fa fa-plus mr-2"></span>Add New
      </h5>
    </a>
  </div>
  <mat-table
    [dataSource]="
      courseDataSource.data.length > 0 ? courseDataSource : emptyDataSource
    "
    multiTemplateDataRows
  >
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef>{{
        "course.name" | translate
      }}</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let element">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Type">
      <mat-header-cell *matHeaderCellDef>{{
        "course.type" | translate
      }}</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let element">
        {{ element.type }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Author">
      <mat-header-cell *matHeaderCellDef>{{
        "course.author" | translate
      }}</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let element">
        {{ element.author }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        {{ "actions" | translate }}
      </mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let element">
        <a href="javascript:;" title="Edit" (click)="onClickEdit(element)"
          ><span class="fa fa-edit mr-2"></span
        ></a>
        <a
          href="javascript:;"
          title="Delete"
          style="padding-left: 15px"
          (click)="onClickDelete(element)"
          ><span class="fa fa-trash"></span
        ></a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="empty-row">
      <mat-cell *matCellDef="let element">{{
        "noRecords" | translate
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element">
        <div
          class="example-element-detail"
          [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
        >
          <table class="demo-table">
            <tr>
              <th>{{ "course.name" | translate }}</th>
              <th>{{ "course.type" | translate }}</th>
            </tr>
            <tr>
              <td>{{ element.name }}</td>
              <td>{{ element.type }}</td>
            </tr>
          </table>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="example-element-row"
      [class.example-expanded-row]="element.expanded"
      (click)="toggleRow(element)"
    >
    </mat-row>
    <mat-row
      *matRowDef="
        let row;
        columns: courseDataSource.data.length > 0
          ? ['expandedDetail']
          : ['empty-row']
      "
      class="example-detail-row"
    ></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
    showFirstLastButtons
    [hidden]="courseDataSource.data.length === 0"
  >
  </mat-paginator>
  <!-- <mat-paginator
  #paginator
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page"
  showFirstLastButtons
  hidePageSize
>
</mat-paginator> -->
</div>
