<form enctype="multipart/form-data" #uploadForm="ngForm">
<div class="form-group row" align="center">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <label for="file" >File</label>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <!--<input type="file" id="file" name="file" [(ngModel)]="upload.file"-->
    <input type="file" id="file" name="file" #fileInput
    placeholder="Upload file...">
       
  </div>
</div>
<div class="form-group col-xs-12 col-sm-8 col-md-5" align="center">
  <br />
  <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
</div>
</form>