<div class="col-11">
  <form [formGroup]="courseSearchForm">
    <div class="mb-3 w-25">
      <label class="form-label">{{ "course.name" | translate }}*</label>

      <input
        type="text"
        placeholder="{{ 'enter' | translate }}{{ 'course.name' | translate }}"
        class="form-control"
        formControlName="name"
      />
      <div
        class="error-msg"
        *ngIf="isSubmitted && courseSearchForm.controls.name.errors?.required"
      >
        {{ "course.name" | translate }} {{ "msg.reqd" | translate }}
      </div>
    </div>
    <div class="mb-3 w-25">
      <label class="form-label">{{ "startDate" | translate }}*</label>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          placeholder="{{ 'select' | translate }} {{ 'startDate' | translate }}"
          [max]="endDate"
          formControlName="startDate"
          (dateChange)="handleStartDateChange($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDatePicker"
          [disabled]="false"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #startDatePicker
          [disabled]="false"
          color="accent"
        ></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mb-3 w-25">
      <label class="form-label">{{ "endDate" | translate }}*</label>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          placeholder="{{ 'select' | translate }} {{ 'endDate' | translate }}"
          [min]="startDate"
          formControlName="endDate"
          (dateChange)="handleEndDateChange($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
          [disabled]="false"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #endDatePicker
          [disabled]="false"
          color="accent"
        ></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group row">
      <div class="mx-auto">
        <button
          type="submit"
          class="m-2 btn btn-primary"
          (click)="onClickSearch()"
        >
          {{ "button.search" | translate }}
        </button>

        <button
          type="button"
          class="m-2 btn btn-second"
          (click)="onClickReset()"
        >
          {{ "button.reset" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="isSearchResultsDisplay" style="margin-top: 30px">
  <div class="card">
    <div class="card-header text-center">Search results</div>
    <div class="card-body">
      <table class="demo-table">
        <thead>
          <th>{{ "course.name" | translate }}</th>
          <th>{{ "course.type" | translate }}</th>
          <th>{{ "course.author" | translate }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td>{{ course.name }}</td>
            <td>{{ course.type }}</td>
            <td>{{ course.author }}</td>
          </tr>
        </tbody>
      </table>
      <div class="mt-3 text-center" *ngIf="courses.length == 0">
        {{ "noRecords" | translate }}
      </div>
    </div>
  </div>
</div>
