.test{
 animation-name: demo;
 animation-duration: 5s;
/* animation-timing-function: ease;
 animation-timing-function: linear;*/
 animation-duration: -2s;
 /*animation-iteration-count: 2;
 animation-iteration-count: infinite;*/
 animation-iteration-count: 3;
  /*animation-direction: normal;
  animation-direction: reverse;
  animation-direction: alternate;*/
  animation-direction: alternate-reverse;

  animation: demo 5s linear 0 2 alternate; /*shorthand syntax animation-name animation-duration animation-timing-function  animation-delay 
                                             animation-iteration-count animation-direction*/
}


@keyframes demo {
  0% {
    background: red;
    transform: translate(0px, 0px);
  }
  50% {
    background: yellow;
    transform: translate(10px, 10px);
  }
  100% {
    background: blue;
    transform: translate(20px, 20px);
  }
}