<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    
    <property name="LOG_FILE" value="C:/Workspace/logs/DemoApplication.log" />
    
    
	<logger name="com.demo" level="DEBUG" />
	<logger name="org.springframework.web" level="INFO" />
	<logger name="org.springframework.boot" level="INFO" />
	<logger name="org.springframework.security" level="WARN" />
	<logger name="org.springframework.cache" level="WARN" />

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder> <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern> 
		</encoder>
	</appender>
	
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_FILE}.%d.%i</fileNamePattern>
			<maxHistory>10</maxHistory>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
		<encoder>
     		<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p   --- [%t] %-40.40logger{39} : %m%n</pattern>
   		</encoder>
	</appender>
	
	<root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="Console" />
    </root>
	
</configuration>
